<div class="container">
  <center><h1>A Fun Fun Fun Post for Yoooouuu:</h1></center>

  <h2><%=@view_post.title%></h2>
  <%=@view_post.author%><br><br>
  <%=@view_post.body%><br><br>
  <p align='right'><a href='/'>home</a></p>
</div>